:root {
    font-size: 62.5%;
    /* Primary Colors */
    --Red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);
    /* Neutral Colors */
    --VeryDarkBlue: hsl(234, 12%, 34%);
    --GrayishBlue: hsl(229, 6%, 66%);
    --VeryLightGray: hsl(0, 0%, 98%);
    /* Font Family */
    font-family: 'Poppins', sans-serif;
}
*,*::before,*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--VeryLightGray);
    display: grid;
    font-size: 1.5rem;
    min-height: 100vh;
    place-items: center;
}
.container {
    max-width: 32rem;
}
h1 {
    font-size: 2.5rem;
    width: max-content;
}
h2 {
    font-size: 1.5rem ;
    font-weight: 400;
}
h3 {
    

}
header {
    padding: .7rem;
    text-align: center;
}
p, h2 {
    color: var(--GrayishBlue)
}
p {
    font-size: 1.3rem;
}
.boldH1 {
    display: block;
}
.lightH1 {
    font-weight: 200;
}