:root {
    font-size: 62.5%;
    /* Primary Colors */
    --Red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);
    /* Neutral Colors */
    --VeryDarkBlue: hsl(234, 12%, 34%);
    --GrayishBlue: hsl(229, 6%, 66%);
    --VeryLightGray: hsl(0, 0%, 98%);
    /* Font Family */
    font-family: 'Poppins', sans-serif;
}
*,*::before,*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--VeryLightGray);
    display: grid;
    font-size: 1.5rem;
    min-height: 100vh;
    place-items: center;
}
.container {
    margin: 7rem 3rem;
    max-width: 32rem;
}
.container__h1 {
    font-size: 2.4rem;
    margin-bottom: 1.5rem;
    /* width: 100%; */
}
.container__h2 {
    /* text-align: center;  */
    font-size: 1.5rem ;
    font-weight: 400;
}

.container--light {
    font-weight: 200;
}
.container--bold {
    font-weight: 600;
}
header {
    margin-bottom: 6rem;
    padding: .7rem;
    text-align: center;
    
}
.card {
    border-radius: .5rem;
    border-top: 3px solid;
    box-shadow: 2px 24px 41px -11px rgba(76,78,97,0.25);
    margin-bottom: 2.5rem;
    padding: 2.3rem 3rem 2.7rem;
}
.card__heading {
    font-size: 2rem;
    margin-bottom: .5rem;
}
.card__paragraph {
    font-size: 1.2rem;
    line-height: 1.9;
    margin-bottom: 3rem;
}
.card__icon {
    display: block;
    margin-left: auto;
    max-width: 5.5rem;
}
.card--supervisor {
    border-color: var(--Cyan);
}
.card--team {
    border-color: var(--Red);
}
.card--karma {
    border-color: var(--Orange);
}
.card--calculator {
    border-color: var(--Blue);
}
.card__paragraph, .container__h2 {
    color: var(--GrayishBlue)
}

/* Media Queries */
@media screen and (min-width: 969px){
    .poop {
        margin-inline: auto;
        display: grid;
        grid-template-columns: 35rem 35rem 35rem;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "card1 card2 card4"
        "card1 card3 card4"


        
        
        ;
        

    }
    .card {
        /* width: 35rem; */
        margin: 0;
        align-self: center;
    }
    #card1 {
        grid-area: card1;
        /* align-self: center; */
        
    }
    #card2 {
        grid-area: card2;
    }
    #card3 {
        grid-area: card3;
    }
    #card4 {
        grid-area: card4;
    }
    
}


